<!-- templates/registration/signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza todos os campos do formulário -->
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>