<!-- atendimento/templates/atendimento/criar_atendimento.html -->
{% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
    <p>Bem-vindo, visitante!</p>
{% endif %}

<h1>Criar Atendimento</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>

<!-- Botão de logout -->
<div style="margin-top: 20px;">
    <a href="{% url 'logout' %}" style="text-decoration: none;">
        <button type="button" style="padding: 10px 20px; background-color: #dc3545; color: white; border: none; cursor: pointer;">
            Logout
        </button>
    </a>
</div>