<!-- atendimento/templates/atendimento/lista_atendimentos.html -->

<h1>Lista de Atendimentos</h1>
{% comment %} <ul>
    {% for atendimento in atendimentos %}
    <li>{{ atendimento.nome_cidadao }} - {{ atendimento.data_atendimento }}</li>
    {% endfor %}
</ul> {% endcomment %}


{% comment %} <ul>
    {% for atendimento in atendimentos %}
        <li>{{ atendimento.nome_servico }} - {{ atendimento.nome_cidadao }} - {{ atendimento.data_atendimento }}</li>
    {% endfor %}
</ul> {% endcomment %}


{% for atendimento in atendimentos %}
    <p>Atendente: {{ atendimento.atendente }}</p>
{% endfor %}

<table>
    <thead>
        <tr>
            <th>Atendente</th>
            <th>Local do Serviço</th>
            <th>Data</th>
            <th>Nome do Cidadão</th>
            <!-- Outros campos -->
        </tr>
    </thead>
    <tbody>
        {% for atendimento in atendimentos %}
            <tr>
                <td>{{ atendimento.atendente }}</td>
                <td>{{ atendimento.local_servico }}</td>
                <td>{{ atendimento.data_atendimento }}</td>
                <td>{{ atendimento.nome_cidadao }}</td>
                <!-- Outros campos -->
            </tr>
        {% endfor %}
    </tbody>
</table>
