<!-- atendimento/templates/atendimento/lista_atendimentos.html -->

<h1>Lista de Atendimentos</h1>
{% comment %} <ul>
    {% for atendimento in atendimentos %}
    <li>{{ atendimento.nome_cidadao }} - {{ atendimento.data_atendimento }}</li>
    {% endfor %}
</ul> {% endcomment %}


{% comment %} <ul>
    {% for atendimento in atendimentos %}
        <li>{{ atendimento.nome_servico }} - {{ atendimento.nome_cidadao }} - {{ atendimento.data_atendimento }}</li>
    {% endfor %}
</ul> {% endcomment %}


{% for atendimento in atendimentos %}
    <p>Atendente: {{ atendimento.atendente }}</p>
{% endfor %}