{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Erro Interno do Servidor{% endblock %}

{% block content %}
<style>
    .error-container {
        margin-top: 5rem;
    }

    .error-title {
        font-size: 6rem;
        color: #dc3545; /* Vermelho */
        font-weight: bold;
    }

    .error-message {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .btn-container {
        margin-top: 2rem;
    }
</style>

<div class="container-fluid text-center error-container">
    <h1 class="error-title">500</h1>
    <p class="error-message">Algo deu errado no servidor. Pedimos desculpas pelo inconveniente.</p>
    <p>Por favor, tente novamente mais tarde ou entre em contato com o suporte técnico.</p>
    <div class="btn-container">
        <a href="{% url 'meus_atendimentos' %}" class="btn btn-primary btn-lg">
            <i class="fas fa-home"></i> Voltar para a Página Inicial
        </a>
    </div>
</div>
{% endblock %}
